fastapi
uvicorn
pydantic
python-dotenv
requests
email-validator
google-genai
python-multipart
aiofiles
# Image processing
Pillow
# Export dependencies
openpyxl
reportlab
num2words
# Database
sqlalchemy
PyJWT
passlib[bcrypt]
bcrypt==4.1.3
python-jose[cryptography]
