fastapi
uvicorn
pydantic
python-dotenv
requests
email-validator
google-generativeai
python-multipart
firebase-admin
# Image processing
Pillow
# Export dependencies
openpyxl
reportlab
num2words
# Database
sqlalchemy